USE [master]
GO
/****** Object:  Database [nail]    Script Date: 12/7/2018 1:22:10 PM ******/
CREATE DATABASE [nail]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nail', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.BINHPCSE62805\MSSQL\DATA\nail.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nail_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.BINHPCSE62805\MSSQL\DATA\nail_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nail].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nail]
GO
USE [nail]
GO
/****** Object:  Table [dbo].[tblContact]    Script Date: 12/7/2018 1:22:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContact](
	[address] [nvarchar](100) NULL,
	[city] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[monToFri] [nvarchar](50) NULL,
	[saturday] [nvarchar](50) NULL,
	[date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCount]    Script Date: 12/7/2018 1:22:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCount](
	[count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblService]    Script Date: 12/7/2018 1:22:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblService](
	[service] [nvarchar](100) NULL,
	[picture] [nvarchar](100) NULL,
	[detail] [nvarchar](1000) NULL,
	[price] [real] NULL,
	[date] [date] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblContact] ([address], [city], [country], [tel], [email], [monToFri], [saturday], [date]) VALUES (N'1', N'1', N'1', N'12345678910', N'1@1.1', N'1am-2pm', N'5pm', CAST(N'2018-02-12' AS Date))
INSERT [dbo].[tblCount] ([count]) VALUES (22)
INSERT [dbo].[tblService] ([service], [picture], [detail], [price], [date]) VALUES (N'Mochi', N'http://cdn.simplesite.com/i/81/99/285697109906987393/i285697114360484947._szw1280h1280_.jpg', N'hihihihihihi', 150, CAST(N'2018-02-08' AS Date))
INSERT [dbo].[tblService] ([service], [picture], [detail], [price], [date]) VALUES (N'Takoyaki', N'http://cdn.simplesite.com/i/81/99/285697109906987393/i285697114360484982._szw1280h1280_.jpg', N'hahahahaha', 120, CAST(N'2017-01-05' AS Date))
INSERT [dbo].[tblService] ([service], [picture], [detail], [price], [date]) VALUES (N'Kiwi', N'http://cdn.simplesite.com/i/81/99/285697109906987393/i285697114360484998._szw1280h1280_.jpg', N'hohohohohoh', 107, CAST(N'2018-06-08' AS Date))
USE [master]
GO
